/* All Pages */
body {
	margin-top: 75px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #DFE2DB;
}

.well {
	margin-top: 10px;
	margin-bottom: 10px;
}
/* End All Pages */

/* Home */
.carousel {
	margin-top: -25px;
}

.carousel-caption {
	top: 50px;
}

.shadow1 {
	text-shadow: 2px 2px #000;
}

.shadow2 {
	text-shadow: 1px 1px #000;
}

.well-carousel {
	margin-top: 0%;
	margin-bottom: 0%;
}

/* End Home */

/* Menu */
.menu p {
	font-style: italic;
	font-size: 12px;
	margin-top: 0px;
}

.menu h3, h4, h5 {
	font-weight: bold;
}

.menu span {
	float: right;
	word-spacing: 5px;
}

h5.indent {
	margin-left: 20px;
}
/* End Menu */

/* Maps and Directions */
.google-maps {
	position: relative;
	padding-bottom: 100%;
	height: 0;
	overflow: hidden;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* End Maps and Directions */

/* Contact Us */
.modal-dialog {
	margin-top: 20%;
}
/* End Contact Us */